 .visible {
     visibility: visible !important
 }

 .invisible {
     visibility: hidden !important
 }

 @media print {

     *,
     :after,
     :before {
         text-shadow: none !important;
         box-shadow: none !important
     }

     a:not(.btn) {
         text-decoration: underline
     }

     abbr[title]:after {
         content: " ("attr(title) ")"
     }

     pre {
         white-space: pre-wrap !important
     }

     blockquote,
     pre {
         border: 1px solid #adb5bd;
         page-break-inside: avoid
     }

     thead {
         display: table-header-group
     }

     img,
     tr {
         page-break-inside: avoid
     }

     h2,
     h3,
     p {
         orphans: 3;
         widows: 3
     }

     h2,
     h3 {
         page-break-after: avoid
     }

     @page {
         size: a3
     }

     .container,
     body {
         min-width: 992px !important
     }

     .navbar {
         display: none
     }

     .badge {
         border: 1px solid #000
     }

     .table {
         border-collapse: collapse !important
     }

     .table td,
     .table th {
         background-color: #fff !important
     }

     .table-bordered td,
     .table-bordered th {
         border: 1px solid #dee2e6 !important
     }

     .table-dark {
         color: inherit
     }

     .table-dark tbody+tbody,
     .table-dark td,
     .table-dark th,
     .table-dark thead th {
         border-color: #dee2e6
     }

     .table .thead-dark th {
         color: inherit;
         border-color: #dee2e6
     }
 }

 .card {
     margin-bottom: 24px;
     box-shadow: 0 0 .875rem 0 rgba(33, 37, 41, .05)
 }

 .content {
     padding: 1.5rem 1.5rem .75rem;
     flex: 1;
     width: 100vw;
     max-width: 100vw;
     direction: ltr
 }

 @media (min-width:768px) {
     .content {
         width: auto;
         max-width: auto
     }
 }

 @media (min-width:992px) {
     .content {
         padding: 2.5rem 2.5rem 1rem
     }
 }

 .navbar-nav .dropdown-menu {
     box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .05)
 }

 .dropdown .dropdown-menu.show {
     animation-name: dropdownAnimation;
     animation-duration: .25s;
     animation-iteration-count: 1;
     animation-timing-function: ease;
     animation-fill-mode: forwards
 }

 @keyframes dropdownAnimation {
     0% {
         opacity: 0;
         transform: translateY(-8px)
     }

     to {
         opacity: 1;
         transform: translate(0)
     }
 }

 .dropdown-toggle:after {
     border: solid;
     border-width: 0 2px 2px 0;
     display: inline-block;
     padding: 2px;
     transform: rotate(45deg)
 }

 .dropdown-item {
     transition: background .1s ease-in-out, color .1s ease-in-out
 }

 .dropdown-menu-lg {
     min-width: 20rem
 }

 .dropdown .list-group .list-group-item {
     border-width: 0 0 1px;
     margin-bottom: 0
 }

 .dropdown .list-group .list-group-item:first-child,
 .dropdown .list-group .list-group-item:last-child {
     border-radius: 0
 }

 .dropdown .list-group .list-group-item:hover {
     background: #f8f9fa
 }

 .dropdown-menu-header {
     padding: .75rem;
     text-align: center;
     font-weight: 600;
     border-bottom: 1px solid #dee2e6
 }

 .dropdown-menu-footer {
     padding: .5rem;
     text-align: center;
     display: block;
     font-size: .75rem
 }

 .feather {
     width: 18px;
     height: 18px;
     stroke-width: 1.5
 }

 .feather-sm {
     width: 14px;
     height: 14px
 }

 .feather-lg {
     width: 36px;
     height: 36px
 }

 footer.footer {
     padding: 1rem .875rem;
     direction: ltr;
     background: #fff
 }

 footer.footer ul {
     margin-bottom: 0
 }

 @media (max-width:991.98px) {
     footer.footer {
         width: 100vw
     }
 }

 .input-group-navbar {
     max-width: 250px
 }

 .input-group-navbar .btn,
 .input-group-navbar .form-control {
     height: calc(2.0875rem + 2px);
     background: #f7f7fc;
     box-shadow: none;
     border: 0;
     padding: .35rem .75rem
 }

 .input-group-navbar .btn:focus,
 .input-group-navbar .form-control:focus {
     background: #f7f7fc;
     box-shadow: none;
     outline: 0
 }

 .input-group-navbar .btn {
     color: #6c757d
 }

 .input-group-navbar .btn .feather {
     width: 20px;
     height: 20px
 }

 .hamburger,
 .hamburger:after,
 .hamburger:before {
     cursor: pointer;
     border-radius: 1px;
     height: 3px;
     width: 24px;
     background: #495057;
     display: block;
     content: "";
     transition: background .1s ease-in-out, color .1s ease-in-out
 }

 .hamburger {
     position: relative
 }

 .hamburger:before {
     top: -7.5px;
     width: 24px;
     position: absolute
 }

 .hamburger:after {
     bottom: -7.5px;
     width: 16px;
     position: absolute
 }

 .sidebar-toggle:hover .hamburger,
 .sidebar-toggle:hover .hamburger:after,
 .sidebar-toggle:hover .hamburger:before {
     background: #3b7ddd
 }

 .hamburger-right,
 .hamburger-right:after,
 .hamburger-right:before {
     right: 0
 }

 a.list-group-item {
     text-decoration: none
 }

 .main {
     display: flex;
     width: 100%;
     min-width: 0;
     min-height: 100vh;
     transition: margin-left .35s ease-in-out, left .35s ease-in-out, margin-right .35s ease-in-out, right .35s ease-in-out;
     background: #f7f7fc;
     flex-direction: column;
     overflow: hidden;
     border-top-left-radius: 0;
     border-bottom-left-radius: 0
 }

 .card h1 {
     color: white !important;
 }

 .card-title {
     color: white !important;
 }

 span.text-muted {
     color: #fff !important;
 }

 @media (min-width:992px) {
     .main {
         box-shadow: inset .75rem 0 1.5rem 0 rgba(0, 0, 0, .075)
     }
 }

 .navbar {
     border-bottom: 0;
     box-shadow: 0 0 2rem 0 rgba(33, 37, 41, .1)
 }

 @media (max-width:991.98px) {
     .navbar {
         width: 100vw
     }
 }

 .navbar .avatar {
     margin-top: -15px;
     margin-bottom: -15px
 }

 .navbar-nav {
     direction: ltr
 }

 .navbar-align {
     margin-left: auto
 }

 .navbar-bg {
     background: #fff
 }

 .navbar-brand {
     font-weight: 400;
     font-size: 1.15rem;
     padding: .875rem 0;
     color: #f8f9fa;
     display: block
 }

 .navbar-brand .feather,
 .navbar-brand svg {
     color: #3b7ddd;
     height: 24px;
     width: 24px;
     margin-left: -.15rem;
     margin-right: .375rem;
     margin-top: -.375rem
 }

 .nav-flag,
 .nav-icon {
     padding: .1rem .8rem;
     display: block;
     font-size: 1.5rem;
     color: #6c757d;
     transition: background .1s ease-in-out, color .1s ease-in-out;
     line-height: 1.4
 }

 .nav-flag:after,
 .nav-icon:after {
     display: none !important
 }

 .nav-flag.active,
 .nav-flag:hover,
 .nav-icon.active,
 .nav-icon:hover {
     color: #3b7ddd
 }

 .nav-flag .feather,
 .nav-flag svg,
 .nav-icon .feather,
 .nav-icon svg {
     width: 20px;
     height: 20px
 }

 .nav-item .indicator {
     background: #3b7ddd;
     box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .05);
     border-radius: 50%;
     display: block;
     height: 18px;
     width: 18px;
     padding: 1px;
     position: absolute;
     top: 0;
     right: -8px;
     text-align: center;
     transition: top .1s ease-out;
     font-size: .675rem;
     color: #fff
 }

 .nav-item:hover .indicator {
     top: -4px
 }

 .nav-item a:focus {
     outline: 0
 }

 @media (-ms-high-contrast:none),
 screen and (-ms-high-contrast:active) {
     .navbar .avatar {
         max-height: 47px
     }
 }

 @media (max-width:575.98px) {
     .navbar {
         padding: .75rem
     }

     .nav-icon {
         padding: .1rem .75rem
     }

     .dropdown,
     .dropleft,
     .dropright,
     .dropup {
         position: inherit
     }

     .navbar-expand .navbar-nav .dropdown-menu-lg {
         min-width: 100%
     }

     .nav-item .nav-link:after {
         display: none
     }
 }

 .nav-flag img {
     border-radius: 50%;
     width: 20px;
     height: 20px;
     object-fit: cover
 }

 .navbar input {
     direction: ltr
 }

 .progress-sm {
     height: .5rem
 }

 .progress-lg {
     height: 1.5rem
 }

 #root,
 body,
 html {
     height: 100%
 }

 body {
     overflow-y: scroll;
     opacity: 1 !important
 }

 @media (-ms-high-contrast:none),
 screen and (-ms-high-contrast:active) {
     html {
         overflow-x: hidden
     }
 }

 .sidebar {
     min-width: 260px;
     max-width: 260px;
     direction: ltr
 }

 .sidebar,
 .sidebar-content {
     transition: margin-left .35s ease-in-out, left .35s ease-in-out, margin-right .35s ease-in-out, right .35s ease-in-out;
     background: #222e3c
 }

 .sidebar-content {
     display: flex;
     height: 100vh;
     flex-direction: column
 }

 .sidebar-nav {
     padding-left: 0;
     margin-bottom: 0;
     list-style: none;
     flex-grow: 1
 }

 .sidebar-link,
 a.sidebar-link {
     display: block;
     padding: .625rem 1.625rem;
     font-weight: 400;
     transition: background .1s ease-in-out;
     position: relative;
     text-decoration: none;
     cursor: pointer;
     color: rgba(233, 236, 239, .5);
     background: #222e3c;
     border-left: 3px solid transparent
 }

 .sidebar-link i,
 .sidebar-link svg,
 a.sidebar-link i,
 a.sidebar-link svg {
     margin-right: .75rem;
     color: rgba(233, 236, 239, .5)
 }

 .sidebar-link:focus {
     outline: 0
 }

 .sidebar-link:hover {
     background: #222e3c;
     border-left-color: transparent
 }

 .sidebar-link:hover,
 .sidebar-link:hover i,
 .sidebar-link:hover svg {
     color: rgba(233, 236, 239, .75)
 }

 .sidebar-item.active .sidebar-link:hover,
 .sidebar-item.active>.sidebar-link {
     color: #e9ecef;
     background: linear-gradient(90deg, rgba(59, 125, 221, .1), rgba(59, 125, 221, .0875) 50%, transparent);
     border-left-color: #3b7ddd
 }

 .sidebar-item.active .sidebar-link:hover i,
 .sidebar-item.active .sidebar-link:hover svg,
 .sidebar-item.active>.sidebar-link i,
 .sidebar-item.active>.sidebar-link svg {
     color: #e9ecef
 }

 .sidebar-dropdown .sidebar-link {
     padding: .625rem 1.5rem .625rem 3.25rem;
     font-weight: 400;
     font-size: 90%;
     border-left: 0;
     color: #adb5bd;
     background: transparent
 }

 .sidebar-dropdown .sidebar-link:before {
     content: "→";
     display: inline-block;
     position: relative;
     left: -14px;
     transition: all .1s ease;
     transform: translateX(0)
 }

 .sidebar-dropdown .sidebar-item .sidebar-link:hover {
     font-weight: 400;
     border-left: 0;
     color: #e9ecef;
     background: transparent
 }

 .sidebar-dropdown .sidebar-item .sidebar-link:hover:hover:before {
     transform: translateX(4px)
 }

 .sidebar-dropdown .sidebar-item.active .sidebar-link {
     font-weight: 400;
     border-left: 0;
     color: #518be1;
     background: transparent
 }

 .sidebar [data-toggle=collapse] {
     position: relative
 }

 .sidebar [data-toggle=collapse]:after {
     content: " ";
     border: solid;
     border-width: 0 .075rem .075rem 0;
     display: inline-block;
     padding: 2px;
     transform: rotate(45deg);
     position: absolute;
     top: 1.2rem;
     right: 1.5rem;
     transition: all .2s ease-out
 }

 .sidebar [aria-expanded=true]:after,
 .sidebar [data-toggle=collapse]:not(.collapsed):after {
     transform: rotate(-135deg);
     top: 1.4rem
 }

 .sidebar-brand {
     font-weight: 600;
     font-size: 1.15rem;
     padding: 1.15rem 1.5rem;
     display: block;
     color: #f8f9fa
 }

 .sidebar-brand:hover {
     text-decoration: none;
     color: #f8f9fa
 }

 .sidebar-brand:focus {
     outline: 0
 }

 .sidebar-toggle {
     cursor: pointer;
     width: 26px;
     height: 26px
 }

 .sidebar.collapsed {
     margin-left: -260px
 }

 @media (min-width:1px) and (max-width:991.98px) {
     .sidebar {
         margin-left: -260px
     }

     .sidebar.collapsed {
         margin-left: 0
     }
 }

 .sidebar-toggle {
     margin-right: 1rem
 }

 .sidebar-header {
     background: transparent;
     padding: 1.5rem 1.5rem .375rem;
     font-size: .75rem;
     color: #ced4da
 }

 .sidebar-badge {
     position: absolute;
     right: 15px;
     top: 14px;
     z-index: 1
 }

 .sidebar-cta-content {
     padding: 1.5rem;
     margin: 1.75rem;
     border-radius: .3rem;
     background: #2b3947;
     color: #e9ecef
 }

 .min-vw-50 {
     min-width: 50vw !important
 }

 .min-vh-50 {
     min-height: 50vh !important
 }

 .vw-50 {
     width: 50vw !important
 }

 .vh-50 {
     height: 50vh !important
 }

 a {
     cursor: pointer
 }

 .wrapper {
     align-items: stretch;
     display: flex;
     width: 100%;
     background: #222e3c
 }

 .cursor-grab {
     cursor: move;
     cursor: grab;
     cursor: -webkit-grab
 }

 .cursor-pointer {
     cursor: pointer
 }

 .overflow-scroll {
     overflow: scroll
 }

 .overflow-hidden {
     overflow: hidden
 }

 .overflow-auto {
     overflow: auto
 }

 .overflow-visible {
     overflow: visible
 }

 [data-simplebar] {
     position: relative;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: flex-start;
     align-content: flex-start;
     align-items: flex-start
 }

 .simplebar-wrapper {
     overflow: hidden;
     width: inherit;
     height: inherit;
     max-width: inherit;
     max-height: inherit
 }

 .simplebar-mask {
     direction: inherit;
     overflow: hidden;
     width: auto !important;
     height: auto !important;
     z-index: 0
 }

 .simplebar-mask,
 .simplebar-offset {
     position: absolute;
     padding: 0;
     margin: 0;
     left: 0;
     top: 0;
     bottom: 0;
     right: 0
 }

 .simplebar-offset {
     direction: inherit !important;
     box-sizing: inherit !important;
     resize: none !important;
     -webkit-overflow-scrolling: touch
 }

 .simplebar-content-wrapper {
     direction: inherit;
     box-sizing: border-box !important;
     position: relative;
     display: block;
     height: 100%;
     width: auto;
     max-width: 100%;
     max-height: 100%;
     scrollbar-width: none;
     -ms-overflow-style: none
 }

 .simplebar-content-wrapper::-webkit-scrollbar,
 .simplebar-hide-scrollbar::-webkit-scrollbar {
     width: 0;
     height: 0
 }

 .simplebar-content:after,
 .simplebar-content:before {
     content: " ";
     display: table
 }

 .simplebar-placeholder {
     max-height: 100%;
     max-width: 100%;
     width: 100%;
     pointer-events: none
 }

 .simplebar-height-auto-observer-wrapper {
     box-sizing: inherit !important;
     height: 100%;
     width: 100%;
     max-width: 1px;
     position: relative;
     float: left;
     max-height: 1px;
     overflow: hidden;
     z-index: -1;
     padding: 0;
     margin: 0;
     pointer-events: none;
     flex-grow: inherit;
     flex-shrink: 0;
     flex-basis: 0
 }

 .simplebar-height-auto-observer {
     box-sizing: inherit;
     display: block;
     opacity: 0;
     top: 0;
     left: 0;
     height: 1000%;
     width: 1000%;
     min-height: 1px;
     min-width: 1px;
     z-index: -1
 }

 .simplebar-height-auto-observer,
 .simplebar-track {
     position: absolute;
     overflow: hidden;
     pointer-events: none
 }

 .simplebar-track {
     z-index: 1;
     right: 0;
     bottom: 0
 }

 [data-simplebar].simplebar-dragging .simplebar-content {
     pointer-events: none;
     -ms-user-select: none;
     user-select: none;
     -webkit-user-select: none
 }

 [data-simplebar].simplebar-dragging .simplebar-track {
     pointer-events: all
 }

 .simplebar-scrollbar {
     position: absolute;
     left: 0;
     right: 0;
     min-height: 10px
 }

 b,
 strong {
     font-weight: 600
 }

 .simplebar-scrollbar:before {
     position: absolute;
     content: "";
     background: #000;
     border-radius: 7px;
     left: 2px;
     right: 2px;
     opacity: 0;
     transition: opacity .2s linear
 }

 .simplebar-scrollbar.simplebar-visible:before {
     opacity: .5;
     transition: opacity 0s linear
 }

 .simplebar-track.simplebar-vertical {
     top: 0;
     width: 11px
 }

 .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
     top: 2px;
     bottom: 2px
 }

 .simplebar-track.simplebar-horizontal {
     left: 0;
     height: 11px
 }

 .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
     height: 100%;
     left: 2px;
     right: 2px
 }

 .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
     right: auto;
     left: 0;
     top: 2px;
     height: 7px;
     min-height: 0;
     min-width: 10px;
     width: auto
 }

 [data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
     right: auto;
     left: 0
 }

 .hs-dummy-scrollbar-size {
     direction: rtl;
     position: fixed;
     opacity: 0;
     visibility: hidden;
     height: 500px;
     width: 500px;
     overflow-y: hidden;
     overflow-x: scroll
 }

 .simplebar-hide-scrollbar {
     position: fixed;
     left: 0;
     visibility: hidden;
     overflow-y: scroll;
     scrollbar-width: none;
     -ms-overflow-style: none
 }

 .simplebar-scrollbar:before {
     background: #fff
 }

 .simplebar-content {
     display: flex;
     flex-direction: column;
     height: 100vh;
     padding-bottom: 0 !important
 }

 [data-simplebar] {
     position: -webkit-sticky;
     position: sticky;
     top: 0;
     left: 0;
     width: 260px
 }